.sala{
    padding-left: 17px;
    padding-right: 24px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.poltronas{
    margin-right: 7px;
    width: 26px;
    height: 26px;
    border-radius: 12px;
    background-color:#7B8B99 ;
    box-sizing: border-box;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.poltronas-indisponivel{
    margin-right: 7px;
    width: 26px;
    height: 26px;
    border-radius: 12px;
    background-color:#F7C52B ;
    box-sizing: border-box;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.poltronas p{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}
.poltronas-indisponivel p{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}
.poltronas-reservadas{
    margin-right: 7px;
    width: 26px;
    height: 26px;
    border-radius: 12px;
    background-color:#8DD7CF ;
    box-sizing: border-box;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.poltronas-reservadas p{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}
.disponivel{
  
    width: 24px;
    height: 24px;
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
    border-radius: 17px;
}
.indisponivel{
    
    width: 24px;
    height: 24px;
    background: #FBE192;
    border: 1px solid #F7C52B;
    border-radius: 17px;
}
.reservada{
    width: 24px;
    height: 24px;
    background: #C3CFD9;
    border: 1px solid #7B8B99;
    border-radius: 17px;
}
.legenda{
    padding-left: 56px;
    padding-right: 56px;
    box-sizing: border-box;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circ {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circ p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #4E5A65;

}
.dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}
.input-formulario{
    width: 100%;
    margin-bottom: 7px;
    
}
input{
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;

   
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    width: 327px;
    height: 51px;
    color: #AFAFAF
}
input :-moz-placeholder{
    color: #AFAFAF;
    margin-left:10px;


}
.titulo span{
   
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

}
.titulo {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
}
button{
    background: #E8833A;
    border-radius: 3px;
    width: 225px;
    height: 42px;
    border: none;
    margin-top: 57px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
}